.createATrip_container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.createATrip_form {
    width: 50%;
    height: 500px;
    background-color: rgba(80, 121, 139, 0.575);
    text-align: center;
    padding-top: 40px;
}
#txt {
    margin-bottom: 30px;
    width: 40%;
    font-size: 15px;
    padding-left: 5px;
    margin-left: 10px;
}
#submit {
    border: none;
    background-color: rgb(31, 81, 122);
    padding: 10px;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
    color: #fff;
}