.deleteBooking-container {
    display: flex;
    height: 100%;
    background-image: url(../assets/trip/a1.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
}
.deleteBooking-second-container .trip1 button {
    margin-left: 70px;
}