.user-container {
    display: flex;
    height: 100%;
    background-image: url(../assets/homepage/a3.png); 
    background-size: cover;
    background-repeat: no-repeat;
}
.user-second-container .trip1 button {
    margin-left: 80px;
}